
.navbar-nav{
    margin-left: 5px;
    
}
.navbar-brand{
    text-decoration: none;
}
.nav-item{
    margin-left: 15px;
}
.dropdown-toggle{
    background-color: rgb(228, 228, 228);
    color: #000;
}
.loc{
    background-color: rgb(228, 228, 228);
    color: #000 !important;
}

.dropdown-item p{
    font-size: 0.8rem;
}
.description{
    margin-top: 20px;
  
    height: 700px;
    width: 90%;
    margin-left: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.description h5, h6 {
    text-align: justify;
    padding: 15px;
}
.description .icons{
    display: flex;
    cursor: pointer;
}
.description .p-icons {
    margin-left: 15px;
    font-size: 1.4rem;
    color: rgb(120, 117, 117);
    font-weight: 900;
    text-align: justify;
    padding: 15px;
}
.description .text{
    padding: 10;
    margin-left: -60px;
    width: 90%;
    resize: none;
}
.description p{
    text-align: justify;
    padding-left: 15px;
}
.description .btn-skills{
    align-items: start;
     border-radius: 25px;  
    background-color: #f5faff;  
    color:green;  
    font-weight: 600;
    text-align: justify;
    margin-right: 63rem;
    border: green 2px solid;
    border-radius: 15px;
}
.btn-submit{
    width: 120px;
    margin-top: 20px;
    margin-left: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    background-color: rgb(188, 188, 188);
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 100px;
}