.submit-desc{
    width: 90%;
    height: 200px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.submit-desc p{
    text-align: justify;
    padding: auto;
    margin: 15px;
}
.submit-icons{
    margin-left: 90%;
    margin-top: -5rem;
}